/* Navbar Styles */
.navbar {
  background-color: #90EE90; /* Light green background color */
  position: fixed; /* Fix the navbar at the top */
  top: 0;
  left: 0;
  right: 0;
  height: 60px; /* Fixed height for the navbar */
  z-index: 1000; /* Ensure the navbar is above other elements */
}

.navbar-brand img {
  max-height: 40px; /* Adjust the height to fit your navbar */
  width: auto; /* Maintain aspect ratio */
  padding-right: 10px; /* Add some padding if needed */
  height: 60px; /* Fixed height for the navbar */
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff; /* White text color for nav links */
}

.navbar-light .navbar-brand {
  color: #ffffff; /* White text color for brand */
}

.dropdown-menu {
  background-color: #90EE90; /* Light green background color for dropdown menu */
}

.dropdown-item {
  color: #ffffff; /* White text color for dropdown items */
}

.dropdown-item:hover {
  background-color: #66CDAA; /* Darker light green background color on hover */
  color: #ffffff; /* White text color on hover */
}
